# URL of the backend API
# If running locally, this is typically http://localhost:5000/api/v1
# If accessing from another machine or domain, change it accordingly.
VITE_API_URL=http://localhost:5000/api/v1
